div {
  padding-top: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
}

html, body {
  background: #FFFFFF;
  font-family: helvetica;
  font-size: 16px;
  color: #000000
}

p {
  font-size: 1em;
  line-height: 1.4em;
  margin-bottom: 20px;
  color: #000000
}

h1 {
  border-bottom: 1px solid #000000;
  padding: 20px 0 0;
}
