html, body {
  background: #FFFFFFFF;
  font-family: helvetica;
  font-size: 16px;
  color: #000000FF
}

p {
  font-size: 1em;
  line-height: 1.4em;
  margin-bottom: 20px;
  color: #000000FF
}

h1 {
  border-bottom: 1px solid #000000FF;
  padding: 20px 0 0;
}
